{
  "SERVER_IP": "YOUR SERVER IP HERE DEFAULT IS Localhost",
  "SERVER_PORT": "YOUR SERVER PORT HERE DEFAULT IS 4044",
  "DEBBUG_MODE": "SHOW OR HIDE THE SERVER MENU {TRUE : FALSE}"
  "PATH_LOG_FOLDER": "PATCH TO YOUR LOGS FILES DIRECTORY ( DEFAULT IS SERVER FOLDER/Serverlogs)"
}