{
  "SERVER_IP": "YOUR SERVER IP HERE DEFAULT IS Localhost",
  "SERVER_PORT": "YOUR SERVER PORT HERE DEFAULT IS 4044",
  "DEBBUG_MODE": "SHOW OR HIDE THE SERVER MENU {TRUE : FALSE}",
  "ONLY_ADMIT_ADMIN": "DETERMINES IF ONLY ADMINS ARE ALLOWED IN THIS SESSION",
   "MESSAGE_TO_CLIENTS_IN_ONLY_ADMINS_MODE": "DEFAULT MESSAGE WHEN CLIENT TRY CONNECT TO SERVER IN ONLY ADMIN MODE",
  "PATH_LOG_FOLDER": "PATCH TO YOUR LOGS FILES DIRECTORY ( DEFAULT IS SERVER FOLDER/Serverlogs)"
}